<div class="text-center">
    <form class="form-signin">
        <h1 class="h2 mb-3 font-weight-normal">Logo</h1>
        <h2 class="h5 mb-3 font-weight-normal">faça login para continuar</h2>
        <input type="email" id="inputEmail" class="form-control mb-3" placeholder="nome de usuário" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control mb-3" placeholder="senha" required="">
        <button class="btn" type="submit">Entrar</button>
    </form>
</div>